body{
	background-color:#ffeebb;
}

h1{
	color:#ff0000;
	text-align:center;
	white-space: preserve nowrap;
	padding:2em;
}

#title{
	display:flex;
	justify-content:space-between;
	align-items: center;
}

#title img{
	overflow: auto;
	object-fit: scale-down;
	max-block-size: fit-content;
}
